html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --add-color: #757575;
  --add-color-two: #ffffff;
}
body {
  color: var (--main-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.head {
  display: flex;
}
.navigation {
  display: flex;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.headernav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-nav {
  display: flex;
  align-items: center;
}

.container-nav .item {
  padding: 0;
  margin-right: 50px;
  list-style-type: none;
}

.container-nav .item:last-child {
  margin-right: 0;
}

.item {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.studio:hover,
.studio:focus {
  color: var(--accent-color);
}

.studio {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.name-one {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.name-two {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  color: var(--main-color);
  margin-right: 85px;
}

.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);

}

.number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--add-color);
}

.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 305px;
}

.contacts .number {
  margin-left: 50px;
}

.hipperlink {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 56px;

  /* margin-bottom: 34px;
  margin-top: 93px; */
}
.tree {
  margin-right: 8px;
}
.tree:last-child {
  margin-right: 0;
}
.hipper {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-color);
  padding: 6px 22px;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
}
.hipper:hover,
.hipper:focus {
  color: var(--add-color-two);
  background-color: var(--accent-color);
}

.project {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding-bottom: 94px;

  /* background-image: linear-gradient(to top, tomato, teal); */
  /* background-color: aqua; */
}
.item-port {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.item-port:nth-child(3n) {
  margin-right: 0;
}
.item-port:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.project-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var (--main-color);
}
.text-in {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--add-color);
}
.logo-one {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-two {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--add-color-two);
}
.location {
  font-size: 14px;
  line-height: 1.71;
  color: var(--add-color-two);
}
.phone {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--add-color-two);
}
.last {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.inst {
  list-style-type: none;
}
.button-last {
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--add-color-two);
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}