html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --add-color: #757575;
  --add-color-two: #ffffff;
}
body {
  color: var (--main-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.headernav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-nav {
  display: flex;
  align-items: center;
}
.hero {
  text-align: center;
  background-image: url(/images/Headerimg.png);
  padding-top: 200px;
  padding-bottom: 280px;
}
.button {
  margin-top: 30px;
}
.container-nav .item {
  padding: 0;
  margin-right: 50px;
  outline: 1px solid tomato;
  list-style-type: none;
}
.container-nav .item:last-child {
  margin-right: 0;
}
.item {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.item:hover,
.item:focus {
  color: var(--accent-color);
}
.attention {
  display: flex;
  background-color: cyan;
  list-style-type: none;
}
.list {
  display: flex;
  justify-content: space-between;
  background-color: chartreuse;
  list-style-type: none;
}
.name-one {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.name-two {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  color: var(--main-color);
  margin-right: 85px;
}
.mail {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--add-color);
}
.mail:hover,
.mail:focus {
  color: var(--accent-color);
}
.number:hover,
.number:focus {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 305px;
}
.contacts .number {
  margin-left: 50px;
  outline: 1px solid tomato;
}
/* .contacts .mail {
  margin-left: 331px;
  margin-right: 0;
  outline: 1px solid tomato;
} */
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--add-color-two);
  background-color: rgb(30, 214, 61);
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
}
.names {
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
  list-style-type: none;
}
.clients {
  display: flex;
  justify-content: space-between;
  background-color: cyan;
  list-style-type: none;
}
.last {
  display: flex;
  justify-content: space-between;
  background-color: rgb(12, 1, 12);
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--add-color-two);
  background-color: var(--accent-color);
}
h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
a {
  text-decoration: none;
}
p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--add-color);
}
.goals {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color);
}
h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--add-color-two);
}
.comand {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-color);
}
.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--add-color);
}
.logo-one {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-two {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--add-color-two);
}
.location {
  font-size: 14px;
  line-height: 1.71;
  color: var(--add-color-two);
}
.phone {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--add-color-two);
}
/* .head {
  display: flex;
  align-items: center;
  background-color: rgb(226, 193, 226);
  outline: 1px solid tomato;
  width: 1600px;
  left: 0px;
  top: 0px;
} */
.navigation {
  display: flex;
}
.head {
  display: flex;
  outline: 1px solid tomato;
}
