body {
  color: darkgreen;
}
.name-one {
  color: deeppink;
  font-size: 50px;
}
.name-one:hover {
  color: chartreuse;
}
.list {
  color: firebrick;
}
.studio {
  color: gold;
}
.port {
  color: gold;
}
.contact {
  color: gold;
}
.head {
  color: green;
}
.head-two {
  color: hotpink;
}
.name-two {
  color: lawngreen;
}
.head-main {
  color: mediumpurple;
  background-color: maroon;
}
.info {
  color: orange;
}
.mail {
  color: palegreen;
}
.mail-one {
  color: red;
}
.title {
  color: yellow;
}
.title:hover {
  color: tomato;
}
.title:focus {
  color: dimgray;
}
.service {
  color: mediumaquamarine;
}
.service:hover {
  color: mediumorchid;
  background-color: mediumseagreen;
}
.service:focus {
  color: orange;
}
.shop {
  color: orange;
  background-color: palegreen;
}
.punctuality,
.technology {
  color: palevioletred;
  background-color: purple;
}
.instagram {
  color: salmon;
}
.staff {
  color: yellow;
  background-color: violet;
}
.inst,
.twit,
.face,
.link {
  color: white;
}
.title {
  text-decoration: line-through;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 30px;
}
.text {
  text-indent: 50px;
}
.plan {
  font-size: 18px;
  line-height: 2;
}
.name-two {
  font-size: 80px;
}
.head,
.head-two,
.contact {
  font-size: 16px;
}
.head-three {
  color: tomato;
  font-size: 16px;
}
.names {
  font-weight: 700;
}
.mykola {
  font-weight: 100;
}
